body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/assets/img/fondo.png') no-repeat center center fixed; /* Fondo con imagen */
  background-size: cover;
}

.container {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.7); /* Fondo negro transparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white; /* Cambié el texto a blanco para mayor contraste */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white; /* Texto blanco */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  background: #6a11cb;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #444bca;
}

.login {
  text-align: center;
  margin-top: 10px;
  color: #ccc;
  font-size: 14px;
}

.login a {
  color: #4e54c8;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}